header {
    text-align: center;
    color: white;
    background: url("https://i.imgur.com/8tcxHWh.jpeg");
    background-size: cover;
  }
body {
    font-family: helvetica, sans-serif;
    margin: 0 auto;
    max-width: 600px;
    background: #eddeed;
  }
  small {
    opacity: 0;
  }
  div {
    height: 250px;
    background-size: cover;
    position: relative;
    margin: 40px 0 0 0;
    /*border-radius: 12px;*/
    }
  
  a {
        color: rgb(4, 4, 105);
    }
  h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 75px;
    color: #000000;
    margin: 60px 0 0 0;
  }
  h2 {
    text-align: center;
    color: #000000;
    margin: 0px 0 70px 0;
  }
  h4{
    text-align: center; 
  }
  h5{
      padding: 30px;
      text-align: center;
  }
  p {
    color: rgba(255,255,255,1);
    background: black;
    background: linear-gradient(bottom, rgba(255,1,131,1), rgba(255,1,131,));
    background: -webkit-linear-gradient(bottom,rgba(255,1,131,1),rgba(255,1,131,.6));
    background: -moz-linear-gradient(bottom,rgba(255,1,131,1),rgba(255,1,131,.6));
    padding: 10px;
    line-height: 28px;
    text-align: justify;
    position: absolute;
    bottom: 0;
    margin: 0;
    height: 30px;
    transition: height .5s;
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
  }
  ul {
    text-align: center;
    padding: 10px;
    /*background: rgba(0, 255, 255, 0.5);*/
  }
  li {
    display: inline;
    padding: 0px 10px 0px 10px;
  }
  .show-description p {
    height: 150px;
  }
  
  .show-description small {
    opacity: 1;
  }
  .first{
    background-image: url("https://cdn.pixabay.com/photo/2018/03/01/14/48/woman-3190829_1280.jpg");
  }
  .second{
    background-image: url("https://community.codenewbie.org/images/o8AL0r92VxLeT5HR_LIdTsEb0VbJTZVT3cXUODw5maQ/s:1000:420/mb:500000/ar:1/aHR0cHM6Ly9jb21t/dW5pdHkuY29kZW5l/d2JpZS5vcmcvcmVt/b3RlaW1hZ2VzL2kv/eDJyZDV6b2Rrdmhm/ZjkwcmV3bW8uanBn");
  }
  @media (max-width: 500px) {
    h1 {
      font-size: 50px;
      margin-top: 20px;
      line-height: 40px;
    }
    h2 {
      font-size: 20px;
      margin: 20px 0 30px 0;
    }
    div {
      margin: 30px 12px 0 12px;
    }
    p {
      font-size: 11px;
      line-height: 20px;
    }
    small {
      font-size: 16px;
    }
  }
  


 
